<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Add necessary CSS and JS dependencies -->
    <link rel="stylesheet" href="style.css">

</head>
<body>
    <h1>Create a New User</h1>
    <form th:action="@{/users/save}" th:object="${user}" method="post">
        <!-- Input fields, checkboxes, etc. -->
        <input type="text" th:field="*{email}" placeholder="Email">
        <input type="text" th:field="*{password}" placeholder="Password">

        <!-- Add other form elements here -->
        <button type="submit">Login</button>
    </form>
</body>
</html>

  