<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <header>
        <h1>Welcome Bookstore</h1>
        <nav>
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">About</a></li>
                <li><a href="#">Services</a></li>
                <li><a href="#">Contact</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <section>
            <h2>About Me</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam eget justo nec odio tincidunt aliquet.</p>
        </section>

        <section>
            <h2>Services</h2>
            <ul>
                <li>Web Design</li>
                <li>Front-end Development</li>
                <li>SEO Optimization</li>
            </ul>
        </section>
        <section>
            <h3>
                <a th:href="@{/logout}">Log out</a>
            </h3>
        </section>
    </main>

    <footer>
        <p>© 2024 MyWebsite.com</p>
    </footer>
</body>
</html>
