<!-- <!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <h1>Login User</h1>
    <form th:action="@{/users/show-books}" th:object="${user}" method="post">
        <input type="text" th:field="*{email}" placeholder="Email">
        <input type="text" th:field="*{password}" placeholder="Password">

        <button type="submit">Login</button>
    </form>
</body>
</html> -->


<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>
    <form th:action="@{/login}" method="post">
        <input type="text" name="username" placeholder="Username">
        <input type="password" name="password" placeholder="Password">
        <button type="submit">Login</button>
    </form>
</body>
</html>

  