<html>
<body>
    <h1 th:text="#{label.form.title}">Registration Form</h1>
    <form action="/" th:object="${user}" method="POST" enctype="utf8">
        <div>
            <label th:text="#{label.user.firstName}">First Name</label>
            <input th:field="*{firstName}"/>
            <p th:each="error: ${#fields.errors('firstName')}" th:text="${error}">Validation error</p>
        </div>
        <!-- Repeat similar fields for last name, email, password, and password confirmation -->
        <!-- ... -->
        <button type="submit" th:text="#{label.form.submit}">Submit</button>
    </form>
    <a th:href="@{/login.html}" th:text="#{label.form.loginLink}">Login</a>
</body>
</html>
